body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: arial ;
	color: #323D4F;
    background-image:url('/images/bg.png');
	background-color:#FFFFFF;
	background-repeat:repeat;
	/*font-size: 10px; */ /* This sets the default font size to be equivalent to 10px */
	font-size: 12px; 
	padding-top: 50px;
	#width: 98%;
	#margin: auto;
}

/*  Text
 --------------------- */
 
 h1 {
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
}




h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
	text-transform:uppercase;
	font-family:arial;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}
/* p {
	font-size: 1.1em;
} */
/* p.forumdesc {
	padding-bottom: 4px;
} */

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}
.titles {
	font-family: arial;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

/* Tables
 ------------ */
th {
	color: #005784;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #EAEAEA;
	white-space: nowrap;
	padding: 5px 5px;
	text-transform:uppercase;
	font-family:arial;
}

td {
	padding: 2px;
        font-family:arial;
}
td.profile {
	padding: 4px;
	padding-top:2px;
	font-size:11px;
}

.table {
	background-color: #dadada;
}
.table>thead>tr>th:nth-child(n+2) {
	text-align: center;
}

.catdiv {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background: white url('./images/cellpic2.jpg') repeat-y scroll top left;
}
.rtl .catdiv {
	background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;
}

.cat {
	height: 24px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url("images/catttt.gif");
/*background-image: url('./images/cellpic1.gif');*/
	text-indent: 4px;
}

.avarow1 {
	background-color: #ececec;
}

.row1 {
	background-color: #ececec;
	padding: 4px;
	padding-left:4px;
	padding-right:4px;
	color:#323D4F;

}


.row1 a {
	font-size: 1.3em;
}

.row2 {
	background-color: #ececec;
	padding: 4px;
}
.row2t {
	background-color: #f7f7f7;
	padding: 4px;
}
.row3 {
	background-color: #ECECEC;
	padding: 4px;
}
.row4 {
	padding: 4px;
}

.spacer {
	background-color: #D1D7DC;
}
/* Links
 ------------ */
a:link {
	color: #006597;
	text-decoration: none;
}

a:active,
a:visited {
	color: #005784;
	text-decoration: none;
}

a:hover {
	color: #D46400;
	text-decoration: underline;
}

a.forumlink {
	color: #069;
	font-weight: bold;
	font-family: arial;
	font-size: 11px;
	text-transform:uppercase;
}

a.topictitle {
	margin: 1px 0;
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
}

a.topictitle:visited {
	color: #5493B4;
	text-decoration: none;
}

th a,
th a:visited {
	color: #005784 !important;
	text-decoration: none;
}

th a:hover {
	text-decoration: underline;
}

.menu-sus {	
background-color: #ECECEC;
height:27px;
border: 1px solid #CACAC9;
}
.menu-sus a {
font-size:11px;
color:#006699;
text-transform:uppercase;
font-weight:bold;
text-shadow:#ededed 1px 2px 2px;
}

p.topicdetails {
	text-align: center;
}

.navbar {
	min-height: 10px;
}

.container .container-fluid {
	min-width: 98%;
}

.desktop-only {
	display: block;
}
.mobile-only, .mobile-only-column {
	display: none;
	visibility: hidden;
}
.user-avatar {
	max-width: 100px;
	max-height: 100px;
}
.postauthor, .postbody, .gensmall, .posttoolbar {
	font-size: 1.2em;
}
/* Фикс цитат в постах */
blockquote {
	font-size: 1.0em;
	padding: 5px 10px;
	margin: 0 0 10px;
}
hr {
	margin: 0px;
}
.nav>li>a {
	font-size: 1.4em;
}
.navbar-brand>img {
	height: 25px;
}
.navbar-brand {
	padding-top: 10px;
}
.forum-title {
	font-size: 1.2em;
	margin-bottom: 10px;
}
.topic-info {
	font-size: 0.9em;
}


.postbody img {
	max-width: 100%;
	height: auto;
	display: block;
}
.postbody iframe {
	width: 100%;
	height: auto;
	min-height: 280px;
	display: block;
}

.b-img-radius {
  zoom: 1;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
}

/*
.b-img-radius {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
*/


/* Секция работающая только для мобильников */
@media only screen and (max-device-width: 480px) {
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 2px;
	}
	.container, .container-fluid {
		padding-left: 6px;
		padding-right: 6px;
		min-width: 100%;
	}
	p {
		/* font-size: 1.1em; */
	}
	.row {
		margin-right: -10px;
	}
	.topic-name {
		font-size: 1.4em;
	}
	.desktop-only {
		display: none;
		visibility: hidden;
	}
	.desktop-only, .desktop-only-column {
		display: none;
		visibility: hidden;
	}
	.mobile-only , .mobile-only-column {
		display: block;
		visibility: visible;
	}
	/*.user-avatar {
		max-width: 50%;
		min-width: 50px;
		height: auto;
	}*/
	.postbody, .postauthor, .gensmall, .posttoolbar {
		font-size: 1.2em;
	}
	/*
	.postauthor {
		min-height: 50px;
	}*/
	blockquote {
		font-size: 1.0em;
		padding: 2px 5px;
		margin: 0 0 5px;
	}	
	.col-xs-3, .col-xs-9 {
		padding-right: 0px;
	}
	.postbody img {
		max-width: 100%;
		height: auto;
		display: block;
	}
	.postbody iframe {
		width: 100%;
		height: auto;
		min-height: 280px;
		display: block;
	}
	th {
		white-space: normal;
	}
}


.css-adaptive {
display: block;
max-width: 100%;
height: auto;
}


