/* Based on the original Style Sheet for the fisubsilver v2 Theme for phpBB version 2+
Edited by Daz  - http://www.forumimages.com - last updated 26-06-03 */

/* The content of the posts (body of text) */
body{background:#ecf0f6;color:#000000;font:12px Verdana,Arial,Helvetica,sans-serif;margin:6px;padding:0;
scrollbar-3dlight-color:#d1d7dc;
scrollbar-arrow-color:#006699;
scrollbar-darkshadow-color:#98aab1;
scrollbar-face-color:#dee3e7;
scrollbar-highlight-color:#ffffff;
scrollbar-shadow-color:#dee3e7;
scrollbar-track-color:#efefef}

/* General font families for common tags */
font,th,td,p{font:12px Verdana,Arial,Helvetica,sans-serif}

/* General text */
.gensmall{font-size:10px}
td.genmed,.genmed{font-size:11px}
.explaintitle{font-size:11px;font-weight:bold;color:#5c81b1}

/* zzz */
.mainmenu { font-size : 11px; color : #000000 }
a.mainmenu { text-decoration : none; color : #006600; }
a.mainmenu::hover { text-decoration : underline; color : #DD6900; }

/* General page style */
a:link,a:active,a:visited,a.postlink{color:#006699;text-decoration:none}
a:hover{color:#dd6900}

/* titles for the topics:could specify viewed link colour too */
.topictitle{font-size:11px;font-weight:bold}
a.topictitle:visited{color:#5493b4}
a.topictitle:hover{color:#dd6900}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{font-size:11px;font-weight: bold}

hr{border: 0px solid #8ed592;border-top-width:1px;height:0px}


/* Category gradients*/
td.cat{font-weight:bold;letter-spacing:1px;background:#d9e2ec url(images/cellpic1.gif);
height:29px;text-indent:4px}
td.catHead {font-weight:bold;letter-spacing:1px;background:#d9e2ec url(images/cellpic1.gif);
height:29px;text-indent:4px}


/* Main table cell colours and backgrounds */
.row1{background:#eaedf4}
.row2,.helpline{background:#d9e2ec}
.row3{background:#cedcec}
td.spacerow{background:#cad9ea}

/* This is for the table cell above the Topics,Post & Last posts on the index.php */
td.rowpic{background:#ffffff url(images/cellpic2.jpg) repeat-y}

/* Table Header cells */
th{background:#005eb2 url(images/cellpic3.gif);color:#deeef3;font-size:11px;
font-weight:bold;height:27px;white-space:nowrap;text-align:center;padding-left:8px;padding-right:8px}

/* This is the border line & background colour round the entire page */
.bodyline{background:#ffffff;border:1px solid #98aab1}

/* This is the outline round the main forum tables */
.forumline{background:#ffffff;border:1px solid #006699}

/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #006699}
a.cattitle		{ text-decoration: none; color : #006699; }
a.cattitle:hover{ text-decoration: underline; }

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{
font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-decoration:none;color:#5c81b1}

.subtitle,h2{font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{font-size:11px;font-weight:bold}
.postbody{font-size:12px;line-height:125%}

/* Location,number of posts,post date etc */
.postdetails{font-size:10px;color:#00396a}

.mod {
	font-family: {T_FONTFACE1}; font-size: {T_FONTSIZE2}px; color: {T_BODY_TEXT}; line-height: 125%;
}

.exclamation {
	font-weight: bold; font-family: Times New Roman, Verdana; font-size : 45px; color: #ffffff;
}

td.ModTable { background-color: #ff6060; }

/* Quote blocks */
.quote{background:#fafafa;border:1px solid #d1d7dc;color:#444444;
font-size:11px;line-height:125%}

/* Code blocks */
.code{background:#fafafa;border:1px solid #d1d7dc;color:#006600;
font:12px Courier,"Courier New",sans-serif;padding:5px}

/* This is for the error messages that pop up */
.errorline{background:#add8e6;border:1px solid #006699}

/* Form elements */
form{display:inline}

input{font:11px Verdana,Arial,Helvetica,sans-serif}

select{background:#ffffff;font:11px Verdana,Arial,Helvetica,sans-serif}

input.post,textarea.post{background:#ffffff;border:1px solid #000000;
font:11px Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}

input.button,input.liteoption,.fakebut{border:1px solid #000000;background:#fafafa;font-size:11px}
input.catbutton{border:1px solid #000000;background:#fafafa;font-size:10px}
input.mainoption{border:1px solid #000000;background:#fafafa;font-size:11px;font-weight:bold}

a.but,a.but:hover,a.but:visited{color:#000000;text-decoration:none}

/* This is the line in the posting page which shows the rollover
help line. Colour value in row2 */
.helpline{border:0 solid;font-size:10px}

/* This is the gradient background at the top of the page */
.topbkg{background: #daf6dd url(images/cellpic_bkg.jpg) repeat-x}
.topnav{font-size:10px;background: #daf6dd url(images/cellpic_nav.gif) repeat-x;color:#dd6900;
height:21px;white-space:nowrap;border: 0px solid #279a62;border-width: 1px 0px 1px 0px}

/* Admin & Moderator Colours MODification */
.admin,.mod{font-size:11px;font-weight:bold}
.admin,a.admin,a.admin:visited{color:#ffa34f}
.mod,a.mod,a.mod:visited{color:#660000}
a.admin:hover,a.mod:hover{color:#dd6900}

/* Specify the space around images */
.imgtopic,.imgicon{margin-left:3px}
.imgspace{margin-left:1px;margin-right:2px}
.imgfolder{margin:1px 4px 1px 4px}

/* Gets rid of the need for border="0" on hyperlinked images */
img{border:0 solid}




/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }

/* //bt */
.seed, .leech						{ font-size : 12px; }
.seedmed, .leechmed			{ font-size : 11px; }
.seedsmall, .leechsmall	{ font-size : 10px; }

.seed, .seedmed, .seedsmall			{ color: #006600; }
.leech, .leechmed, .leechsmall	{ color: #800000; }

.dlWill			{ color: #003366; }
.dlDown			{ color: #800000; }
.dlComplete	{ color: #006600; }
.dlCancel		{ color: #666666; }

.dlBgr1		{ background-color: #ADBAC6; }
.dlBgr2		{ background-color: #D6DBDE; }
.dlBgr3		{ background-color: #D6DBDE; }

.tDL			{ color: #000000; font-weight: bold; }
.tDLDown	{ color: #800000; font-weight: bold; }
.tDLCmpl	{ color: #006600; font-weight: bold; }

.prow1	{ background-color: #ECECEC; }
.prow2	{ background-color: #E7E7E7; }
.prow3	{ background-color: #DEE3E7; }

a.seed:link, a.seed:visited, a.seed:hover, a.seed:active, a.seedmed:link, a.seedmed:visited, a.seedmed:hover, a.seedmed:active, a.seedsmall:link, a.seedsmall:visited, a.seedsmall:hover, a.seedsmall:active {
	color: #006600; text-decoration: none; }

a.leech:link, a.leech:visited, a.leech:hover, a.leech:active, a.leechmed:link, a.leechmed:visited, a.leechmed:hover, a.leechmed:active, a.leechsmall:link, a.leechsmall:visited, a.leechsmall:hover, a.leechsmall:active {
	color: #800000; text-decoration: none; }

a.dlWill:link, a.dlWill:visited, a.dlWill:hover, a.dlWill:active {
	color: #003366; text-decoration: none; }

a.dlDown:link, a.dlDown:visited, a.dlDown:hover, a.dlDown:active {
	color: #800000; text-decoration: none; }

a.dlComplete:link, a.dlComplete:visited, a.dlComplete:hover, a.dlComplete:active {
	color: #006600; text-decoration: none; }

a.dlCancel:link, a.dlCancel:visited, a.dlCancel:hover, a.dlCancel:active {
	color: #666666; text-decoration: none; }

a.seed:hover, a.seedmed:hover, a.seedsmall:hover, a.leech:hover, a.leechmed:hover, a.leechsmall:hover, a.dlWill:hover, a.dlDown:hover, a.dlComplete:hover, a.dlCancel:hover  {
	text-decoration: underline; }

input.pOrdSel {
	background-color: #EFEFEF;
	border: 0px solid #EFEFEF;
	color: #333333;
	font-size: 12px;
	cursor: pointer;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
	width: 18px;
}

optgroup, option, fieldset, legend {
	font-size: 11px; font-family: Verdana,Arial,Helvetica,sans-serif; }

optgroup { font-style: normal; font-weight: bold; background-color: #ECECEC; }
option { background-color: #FFFFFF; font-size: 11px; }

legend { color: #000066; }

.bold		{ font-weight: bold; }
.normal	{ font-weight: normal; }
.opened { color: #778899; }

.btTbl	{ background-color: #98AAB1; border: 0px #98AAB1 solid; }
.btHead { background-color: #D1D7DC; font-size: 11px; font-weight: bold; text-align: center; padding: 1px 0px 1px 0px; }
/* //bt end */

/* //txtb */
/* Text replacement for buttons */
.txtb, a.txtb:link, a.txtb:visited, a.txtb:hover {
	font-size : 11px; color : #003366; text-decoration: none; }
a.txtb:hover	{ text-decoration: underline; }
/* //txtb end */

/* translit */
.t { font-size: 12px; text-align: right; width: 36px; font-weight: bold; }
.hiddenRow { display:none; }
.topicSep { font-weight: bold; font-size: 12px; letter-spacing: 1px; color: #000000 }
/* Fancy form styles for IE */

input, textarea, select, input.button { border-width: 1px 1px 1px 1px }

input { text-indent : 2px; }

.postbody { line-height: 18px}

/*
input.mainoption, input.liteoption, input.button {
	background: #FAFAFA url('images/button.gif') repeat-x top left;
}
*/

/* The buttons used for bbCode styling in message post */
input.button { background-color : #F5F5F5; }

.spaceRow { padding: 3px 0px 0px 0px }

.attachrow		{ font: 11px; color: #000000; border: 1px #98AAB1 solid; }
.attachheader	{ font: 11px; color: #000000; border: 1px #98AAB1 solid; background-color: #D1D7DC; }
.attachtable	{ font: 12px; color: #000000; border: 1px #98AAB1 solid; border-collapse: collapse; }

.hideblock {
	border: 1px dotted #448866;
	border-left: 3px solid #006699;
	margin: 7px 12px;
	background: #ecf0f6;
	clear: both;
}

.hideblock .hidetitle {
	height: 25px;
	line-height: 25px;
	background: url(images/img_quote.gif) right top no-repeat;
	font-size: 10px;
	font-weight: bold;
	padding-left: 6px;
}

.hidecont {
	border-top: 1px dotted #448866;
	padding: 4px 6px;
}

/* Background images for tables */
.tbl{border-collapse:collapse;height:4px;width:100%}
.tbl95{border-collapse:collapse;height:4px;width:95%}
.tbll{background: url(images/tb4_l.gif) no-repeat;width:8px}
.tblbot{background: url(images/tb4_m.gif) repeat-x;width:100%}
.tblr{background: url(images/tb4_r.gif) no-repeat;width:8px}
