body {padding:0px 0px 0px 0px;margin:0px 50px 20px 20px;background:#FFF;}
body, td {font:12px Arial;line-height:130%;}

/* навигация */
.part {font:12px Arial;color:white;text-indent:10px;font-weight:bold;padding:5px;text-transform:uppercase;}

.link {padding:0px;height:32px;text-indent:30px;border-bottom:1px solid  #CCC;background:white;}
.link a {font:12px Arial;color:#000;line-height:32px;display:block;text-transform:lowercase;}
.link a:hover {background:#CCC;text-decoration:none;color:white;border-left:5px solid #FFF;}
.link a strong {display:block;font-weight:normal;position:relative;top:0px;}

.block {padding:5px;background:white;}
td.main {background:white;padding:20px;}
.left {padding:0px;border-right:1px solid #CCC;}
.right {padding:0px;border-left:1px solid #CCC;}
.izhnet {padding:0px;font:25px Arial;color:white;text-indent:20px;text-transform:uppercase;text-align:left;}
.slogan {padding:0px;font:15px Arial;color:white;text-indent:20px;text-transform:uppercase;text-align:left;}
a {color:#000;text-decoration:none;}
a:hover{text-decoration: underline;}

img {border:0px;}

h1 {font:16px; font-weight:bold;}
h4 {font:16px; font-weight:bold;}

input, textarea, select {
 	background-color : #FFFFFF;
	color : #FFFFFF;
	font: normal 10px Verdana,Tahoma; color:black;
	border-top: 1px solid #CCCCCC; 
	border-left: 1px solid #CCCCCC; 
	border-bottom: 1px solid #CCCCCC; 
	border-right: 1px solid #CCCCCC; 
	}
hr.news {border:0px;height:1px;background-color:#EEE}
a.proj {font:16px;font-weight:none;}
a.proj:hover {font:16px;text-decoration:underline;font-weight:none;background-color:#EEE;}
img{border:0px;}
div.logo{font:20px;color:#777;}
