/* ================================================================ *
     Top Level
 * ================================================================ */
#sidebar1_wrap { margin-top: -8px; width: 210px; }
/* ================================================================ *
     Page header
 * ================================================================ */
/* ---------------------------------- *
     TopMenu, Quick Login, PM Info, Loguot..
 * ---------------------------------- */
.topmenu {
        background: #EFEFEF; border: solid #CFD4D8; border-width: 1px 0px;
        margin: 3px 4px 10px; padding: 4px 8px;
        font-size: 11px;
}
.topmenu a:link, .topmenu a:visited { text-decoration: none; }
.new-pm { background: #FFD9B2; border-color: #CC6600; }
.new-pm-link { color: #993300 !important; font-weight: bold; }
/* ---------------------------------- *
     Logo
 * ---------------------------------- */
#logo { padding: 2px 4px; min-height: 75px; }
        #logo h1 {
                margin: 0 300px 0 0; padding-top: 6px;
                font-size: 42px; font-variant: small-caps;
        }
        #logo h6 {
                margin: 0 300px 0 0; padding-top: 1px; padding-bottom: 3px;
                font-size: 14px; font-variant: small-caps;
        }
/* ---------------------------------- *
     Main navigation
 * ---------------------------------- */
#main-nav {
        padding: 4px 10px 2px; margin: 0;
        background: #CFD4D8;
        border-bottom:1px solid #98aab1;
        font-size:10px;
        font-weight: bold;
        }
        #main-nav a {   color: #535F62; text-decoration: none; }
        #main-nav a:hover, #main-nav a:active {
                text-decoration: none !important; color: #000000;
        }
        #main-nav-links { display: block; padding: 0.2em 0; }
/* ---------------------------------- *
     Latest News
 * ---------------------------------- */
#latest_news { margin-bottom: 8px; }
        #latest_news table {
                border-collapse: collapse;
        }
        #latest_news h3 { padding: 0 0 3px 0; color: #333333; }
        #latest_news td { vertical-align: top; }
        .news_date {
                float: right; padding: 1px 8px 1px;
                white-space: nowrap; font-family: "Courier New",Courier,monospace;
                color: #333333; background: #F2F2F2; border: 1px solid #B4B4B4;
        }
        .news_title {
                padding: 3px 8px 2px; margin-bottom: 2px;
                background: transparent url(../images/hr400_ltr_gradient.jpg) no-repeat left top;
        }
        #latest_news a { text-decoration: none; color: #000000; }
        #latest_news .new a { color: #A52A2A; font-weight: bold; }
/* ================================================================ *
     Page content
 * ================================================================ */
/* ---------------------------------- *
     Sidebar 1
 * ---------------------------------- */
#sidebar1 {
        margin-top: -8px;
        }
        #sidebar1 h3 {
                padding: 0 0 4px 0; margin: 8px 0 2px 0;
                color: #333333; text-indent: 0.5em;
                background: transparent url(../images/hr200_ltr_gradient.jpg) no-repeat left bottom;
        }
        #sidebar1 h3 a { color: #333333; }
        #sidebar1 h5 { padding: 2px 4px 5px; }
        #sidebar1 ul { margin: 6px 0 0 10px; }
        #sidebar1 li { margin-bottom: 2px; margin-left: 14px; }
        #sidebar1 a  { text-decoration: none; color: #005A88; }

        #user_ratio { padding: 0;}               /* User ratio */
                #user_ratio td {
                        padding: 1px 6px 1px 8px ; font-size: 11px;
                }
        #tr_main_cats {}             /* Main tracker categories list */
                #tr_main_cats ul {
                        list-style-image: url(../images/arrow1.gif);
                }
                #tr_main_cats li {
                        margin-bottom: 3px; margin-left: 11px; font-size: 11px; font-weight: bold; line-height: 110%;
          }
        #net_news {}                 /* Новости в сети */
                #net_news a {}
/* ================================================================ *
     Main content
 * ================================================================ */
/* ---------------------------------- *
     Forums on home page
 * ---------------------------------- */
#forums_list_wrap { margin-top: 4px; padding-right: 2px; }

#forums_top_links { clear: both; }

#forums_wrap { clear: both; padding-top: 1px; }
.cat_title {                    /* Category header */
        padding: 3px 8px 5px; letter-spacing: 1px; text-indent: 0.6em;
        background: #DEE3E7 url(../images/cellpic1.gif) repeat-x;
        }
        .cat_title a { text-decoration: none; color: #333333 !important; }
table.forums { width: 100%; }
        .forums th {
                padding: 0 !important; font-size: 10px; font-weight: normal; color: #3C3C3C;
        }
        .forums td {
                padding: 3px 4px; font-size: 11px;
        }
.forums em {                 /* titles like: "Subforums:", "Moderators:" */
        color: #5E5E5E; font-style: italic;
}
.forumlink {                 /* forum links */
        font-size: 13px; font-weight: bold;
        }
        .forumlink a { text-decoration: none; }
.forums .forumlink {         /* forum title */
        margin-top: 1px;
}
.forum_desc {                /* forum description */
        margin-top: 2px; color: #333333; font-size: 11px; line-height: 110%;
}
.subforums {                 /* subforums */
        margin-top: 2px; padding-left: 0.5em;
        }
        .subforums + .moderators { margin-top: 0; }
        .sf_title { white-space: nowrap; }
        .sf_icon { margin-right: 1px; }
        .sf_separator {}
        .sf_title a { text-decoration: none; }
        .subforums em { display: none; }
.moderators {                /* moderators */
        margin-top: 2px; font-size: 11px; line-height: 110%;
        }
        .moderators a, .moderators a:visited {
                color: #333333; font-size: 10px; text-decoration: none;
        }
.f_last_post {               /* last topic/post */
        text-align: center;
        }
        .last_topic { margin-top: 1px; white-space: nowrap; }
                .last_topic a { text-decoration: none; }
        .last_post_time { margin-top: 2px; font-size: 10px; white-space: nowrap; }
                .last_time {}
                .last_author { padding-left: 3px; }
        .f_stat_inline {           /* Posts: xx Topics: xx */
                margin-top: 1px; white-space: nowrap; }
                .f_stat_topics {}
                .f_stat_posts { padding-left: 3px; }

.forums thead {              /* Forum TH-Headers */
 display: none;
}
.f_icon {                    /* Forum Icon cell */
        width: 46px;
        padding: 4px 0 !important;
}
.f_titles {                  /* Forum Title cell */
        width: auto;
}
.f_topics {                  /* Topics Count cell */
        display: none;
        width: 40px; text-align: center;
}
.f_posts {                   /* Posts Count cell */
        display: none;
        width: 50px; text-align: center;
}
.f_last_post {               /* Forum Last Topic/Post cell */
        width: 230px;
}
.f_stat_inline {             /* Inline Topic/Post count */
        display: block;
}

table.forums    { border-collapse: collapse; }
.cat_title      { border: 0 none;
                  border-top:    1px solid #B7C0C5;
                  border-bottom: 1px solid #C3CBD1; }
.f_tbl_wrap, #board_stats_wrap {
                  border: 0 none; }
.forums td.row1 { border: solid #FDFDFD; border-width: 0 1px 1px 0; }
.forums td.row2 { border: solid #F5F5F5; border-width: 0 1px 1px 0; }
td.f_titles     { border-right-color: #FAFCFD !important; }
td.last_td      { border-right-width: 0 !important; }

.cat_footer {
        height: 0px; margin-top: -1px; border-top: 1px solid #C3CBD1;
        font-size: 0px; line-height: 0px;
}
.cat_separator { height: 10px; font-size: 0px; line-height: 0px; }
#mark_all_forums_read { margin: -10px 0 3px 0; }

#online_time    { float: left; font-style: italic; color: #444444; }
#online_explain { float: right; }
#online_userlist a { white-space: nowrap; }
#forums_top_nav { display: none; }
/* ---------------------------------- *
     Torrent status
 * ---------------------------------- */
.tor-status-td:hover { background: #F8F8FF; }
.tor-icon         { margin: 0 3px; }
.tor-not-approved { color: #C71585; }
.tor-closed       { padding-left: 1px; color: #FF4500; font-weight: bold; }
.tor-closed-cp    { color: #CE3800; font-weight: bold; }
.tor-approved     { margin-left: 1px; color: #008000; font-weight: bold; }
.tor-need-edit    { color: #FF0000; font-weight: bold; }
.tor-no-desc      { padding-left: 1px; color: #FF4500; font-weight: bold; }
.tor-dup          { padding-left: 1px; color: #0000FF; font-weight: bold; }

/* ujifgc style classes */
.nowrap { white-space: nowrap; }
div.cols { overflow: hidden; _width: 100%; }
span.col33 { width: 33%; float: left; }
span.col66 { width: 66%; float: left; }
.centered { text-align: center; }
.right { text-align: right; }
.fright { float: right; }
.left { text-align: left; }
.fleft { float: left; }
img.top { vertical-align: top; }
div.footer { margin-top: 20px; clear: both; }
div.topictitle { margin: 12px 4px; }
div.topicnav { margin: 8px 4px 4px; }
div.topicnav img { vertical-align: middle; margin-right: 12px; }
div.topicfoot { overflow: hidden; margin: 4px; }
table.forumline { margin: 0 0 4px 0; }
#topic-thankers { font-size: 90%; }
